{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/vehicles/{{vehicle.id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit {{vehicle.name}}</legend>
            <label class="form-label">Year: </label>
            <input 
                type="number" 
                name="year" 
                placeholder="Vehicle year?"
                required value="{{ vehicle.year }}"
        
            >
            <label class="form-label">Make:</label>
            <input 
                type="text" 
                name="make" 
                placeholder="Vehicle make?" 
                required value="{{ vehicle.body }}" 
        
            >
            <label class="form-label">Model:</label>
            <input 
                type="text" 
                name="model"
                placeholder="Vehicle model?"
                required value="{{ vehicle.model }}"
                
            >

            <label class="form-label">Book:</label>
            <input 
                type="text" 
                name="book"
                placeholder="booking url"
                required value="{{ vehicle.book }}"
                
            >

            <label class="form-label">Keyword:</label>
            <input 
                type="text" 
                name="keyword"
                placeholder="keywords"
                required value="{{ vehicle.keyword }}"
                
            >

            >
            <label class="form-label">Image:</label>
            <input 
                type="text" 
                name="image" 
                placeholder="Vehicle Photo"
                required value="{{vehicle.image}}"
            >
            
          
            <label class="form-label">Favorite:</label>
            <input 
                type="checkbox" 
                name="favorite" 
                class="form-check-input"
                {% if vehicle.ready %}
                    checked
                {% endif %}
            >
        </fieldset>
        <input type="submit" value="Edit {{vehicle.name}}" class="btn btn-success">
        <a href="/vehicles/{{vehicle.id}}" class="btn btn-warning">Back</a>
    </form>
</div>
{% endblock %}