{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">All Vehicles</h2>
    <div class="row">
        {% for vehicle in vehicles %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ vehicle.title }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    Ready?: {{ vehicle.ready }}
                </h5>
                <p class="card-text">
                    Body: {{ vehicle.body }}
                </p>
                <p class="card-text">
                    Amount: {{ vehicle.amount }}
                </p>
                <a href="/vehicles/{{ vehicle.id }}" class="btn btn-info">
                    View {{ vehicle.title }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}